<img id="amp" alt="">

<h3>{{message}}</h3>

<div style="margin-bottom: -10px;" class="container">
  <div class="row">
    <div class="row-sm-12">
      <h1 class="usernamedisplay">{{username}}</h1>
      <div class="circleimage">
        <img class="innerimg" src="/images/squarealex.png" alt="" />
      </div>
      <!-- favorite button -->
      <form class="form-group" action="/users/favorite" method="post">
        <input type="hidden" name="_method" value="put">
        <input type="hidden" name="username" value="{{username}}">
        <button class="btn btn-success" id="favorite" type="submit">Favorite</button>
      </form>

    </div>
  </div>
</div>
<!-- SECOND CONTAINER -->
<div style="background-color: rgba(205, 158, 103, 0.5); margin-bottom: 4%;" class="container profileinfo">
  <div class="row">
    <div style="background-color: rgba(83, 74, 224, 0.5);" class="col-sm-3">
      <h3>{{name}}</h3>
      <h3>{{location}}</h3>
      <h4 class="foggyclarity">Aspirations:</h4>
      <p>
        {{aspirations}}
      </p>
      <h4 class="foggyclarity">Links:</h4>
      <p>
        {{links}}
      </p>
      <h4 class="foggyclarity">Keywords:</h4>
      <p>
        {{keywords}}
      </p>
      <p class="foggyclarity">Favorites:</p>
        {{#each favorites}}
        <a href="/users/{{this}}">{{this}},</a>
        {{/each}}


    </div>
    <div style="background-color: rgba(152, 254, 175, 0.5);" class="col-sm-7">
      <h4>Projects:</h4>
      <p>
        {{act}}
      </p>
      <h3>Example:</h3>
      {{{video}}}
    </div>
    <div class="col-sm-2">
      <h3>Primary Instruments:</h3>
      <p>
        {{primary}}
      </p>
      <h3>Secondary Instruments:</h3>
      <p>
        {{secondary}}
      </p>

    </div>
  </div>

</div>



<!-- {{username}}
{{name}}
{{location}}
{{genres}}
{{{video}}}
{{links}}
{{keywords}}
{{primary}}
{{secondary}} -->
