<img id="violin" alt="">

<p>
  currentUser: {{currentUser}}
</p>

<p>
  video: {{video}}
</p>
<p>
  location: {{location}}
</p>
<p>
  name: {{name}}
</p>
<p>
  act: {{act}}
</p>
<p>
  primary: {{primary}}
</p>
<p>
  secondary: {{secondary}}
</p>
<p>
  links: {{links}}
</p>
<p>
  aspirations: {{aspirations}}
</p>
<p>
  genres: {{genres}}
</p>
<p>
  keywords: {{keywords}}
</p>

<a href="/users/register">Go back to edit your profile</a>
